
@{
    Layout = null;
}

<h1>
    Merhaba. H1 etiketi HTML içindeki en büyük başlık etiketidir.
</h1>

<h2>
    H etiketleri 1'den 6'ya kadar puntolar küçülerek gider. Yukardaki cümle H1 etiketi iken bu cümle H2 etiketidir.
</h2>

<p> 
    P etiketi paragraf yazmak için kullanılır. Bu gördüğünüz cümle P etiketi ile oluşturulmuştur.
</p>

<p>
    HTML içinde C# kodlarını kullanmak için "razor syntax" komutunu kullanırız.
</p>

<p>
    Örnek bir C# kullanımı için sayfaya sağ tık yapıp incele diyebilirsiniz. Örneğin bu tarih bilgisini "DateTime.Now.ToShortDateString()" fonksiyonu kullanarak getirdik. @DateTime.Now.ToShortDateString()
</p>



