
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<table class="table table-hover table-bordered">

    <tr>
        <th>#</th>
        <th>Öğrenci Adı</th>
        <th>Bölümü</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Caner Dursun</th>
        <th>Bilgisayar Mühendisliği</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Saniye Yurt</th>
        <th>Yazılım Mühendisliği</th>
    </tr>

</table>

